@model IEnumerable<dotnetapp.Models.FoodOrder>

<h1>Welcome to the Chef's Culinary Delights!</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Food Name</th>
            <th>Price</th>
            <th>Order Date and Time</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var foodOrder in Model)
        {
            <tr>
                <td>@foodOrder.Id</td>
                <td>@foodOrder.FoodName</td>
                <td>@foodOrder.Price</td>
                <td>@foodOrder.Date</td>
                <td>@string.Format("{0:0.0}", foodOrder.Rating)</td> <!-- Display rating with one decimal place -->
                
                <td>
                    <a asp-action="Edit" asp-route-id="@foodOrder.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@foodOrder.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Create New</a>
